<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.LeaseOrderMapper" >
    <select id="orders" resultType="com.example.pojo.LeaseOrder">
        SELECT *
        from lease_order
        ORDER BY create_time DESC
        limit #{page},#{pageSize}
    </select>

    <select id="ordersById" resultType="com.example.pojo.LeaseOrder">
        SELECT *
        from lease_order
        ORDER BY create_time DESC
        limit #{page},#{pageSize}
    </select>
</mapper>