<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.PostMapper" >
    <resultMap id="postMap" type="com.example.msg.UserPost">
        <id column="id" property="id"/>
        <result column="user_id" property="userId" />
        <result column="title" property="title"/>
        <result column="desc" property="desc"/>
        <result column="date" property="date"/>
        <result column="pic" property="pic"/>
        <result column="like" property="like"/>
        <result column="type" property="type"/>
        <association property="user" javaType="com.example.pojo.User">
            <id column="u_id" property="id"></id>
            <result column="name" property="name"/>
            <result column="avatar" property="avatar"/>
            <result column="follow" property="follow"/>
            <result column="fans" property="fans"/>
            <result column="like_count" property="likeCount"/>
        </association>
    </resultMap>
    <select id="posts" resultMap="postMap">
        SELECT
        p.id as id,
        p.user_id as  user_id,
        p.title as title,
        p.`desc` as `desc`,
        p.date as date,
        p.pic as pic,
        p.like as `like`,
        p.type as type,
        u.id as u_id,
        u.avatar as avatar,
        u.name as name,
        u.follow as follow,
        u.fans as fans,
        u.like_count as like_count
        FROM posts p
        INNER JOIN users u
        ON p.user_id = u.id
        WHERE p.user_id IN (
            SELECT fl.follow_id
            FROM follows fl ,users us
            WHERE
                us.id= #{userId}
              AND us.id = fl.user_id
        )  OR p.user_id= #{userId}
           AND p.type = #{type}
        ORDER BY date DESC
            limit #{page},#{pageSize}
    </select>

</mapper>