<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.ServiceOrderMapper" >
    <select id="list" resultType="com.example.pojo.ServiceOrder">
        select * from service_order
        <where>
            <if test="options.id != null">
                and id = #{options.id}
            </if>
            <if test="options.userId != null">
                and user_id = #{options.userId}
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>





</mapper>